@view-transition {
  navigation: auto;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(90px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-90px); }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
*[data-is-next] {
    view-transition-name: slide-next;
}
*[data-is-prev] {
  view-transition-name: slide-prev;
}
.media_viewer_counter {
  view-transition-name: media-viewer-counter;
}
.fullscreen_link, .quit {
  view-transition-name: fullscreen-link;
}
.post_image, .post_video {
  view-transition-name: post-media;
}
.post_preview, .post_figure {
  /* FIXME: not sure if this one is actually doing anything. Was trying to make the transition between the listing and the details page smoother. */
  view-transition-name: post-preview;
}
